<p style="text-align: center;"><span style="font-weight: 400;">Bill Of Loading</span></p>
<p style="text-align: center;">&nbsp;</p>
<table style="float: right; border-collapse: collapse;" border="1" width="320">
<tbody>
<tr>
<td style="width: 204.727px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Load Number</span></p>
</td>
<td style="width: 155.273px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">938</span></p>
</td>
</tr>
<tr>
<td style="width: 204.727px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">BOL Number</span></p>
</td>
<td style="width: 155.273px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">101</span></p>
</td>
</tr>
<tr>
<td style="width: 204.727px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Ship Date</span></p>
</td>
<td style="width: 155.273px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">2025-02-21</span></p>
</td>
</tr>
<tr>
<td style="width: 204.727px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Delivery Date</span></p>
</td>
<td style="width: 155.273px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">2025-02-19</span></p>
</td>
</tr>
<tr>
<td style="width: 204.727px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">P.O. Number</span></p>
</td>
<td style="width: 155.273px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">258974</span></p>
</td>
</tr>
<tr>
<td style="width: 204.727px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Freight Charges</span></p>
</td>
<td style="width: 155.273px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Prepaid</span></p>
</td>
</tr>
</tbody>
</table>
<p><strong>SPLS LLC</strong></p>
<p><span style="font-weight: 400;">13100 Wortham Center Dr Houston, TX 77065</span></p>
<p><span style="font-weight: 400;">USA</span></p>
<p><span style="font-weight: 400;">Tel: 832-906-0217</span></p>
<p style="text-align: center;"><br /><br /><br /><br /></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 136px; float: right; border-collapse: collapse;" border="1" width="927">
<tbody>
<tr>
<td style="width: 421.742px; background-color: #f3f3f3;">
<p style="margin-left:5px;"><span style="font-weight: 600;">Shipper</span></p>
</td>
<td style="width: 489.258px; background-color: #f3f3f3;">
<p style="margin-left:5px;"><span style="font-weight: 600;">Consignee</span></p>
</td>
</tr>
<tr>
<td style="width: 245.555px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">STAR</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">Acorn Lodge, CA,</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">12385 HUMBLE RD</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">Tel:</span></p>
</td>
<td style="width: 663.445px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">META</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">13200 WORTHAM RD</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">A K Ranch, AZ, 23589</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">Tel: 832-906-0217</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 136px; border-collapse: collapse;" border="1" width="925">
<tbody>
<tr>
<td style="width: 245.555px; background-color: #f3f3f3;">
<p style="margin-left:5px;"><span style="font-weight: 600;">3rd Party Billing</span></p>
</td>
<td style="width: 663.445px; background-color: #f3f3f3;">
<p style="margin-left:5px;"><span style="font-weight: 600;">Transportation Company</span></p>
</td>
</tr>
<tr>
<td style="width: 245.555px;">&nbsp;</td>
<td style="width: 663.445px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">WSS</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">1210 Kiner Ct</span></p>
<p style="margin-left:5px;"><span style="font-weight: 400;">A Bar Ranch, CO, 77065 Tel: 832-906-0217</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 224px; border-collapse: collapse;" border="1" width="925">
<tbody>
<tr>
<td style="width: 117.25px;">
<p style="margin-left:5px;"><span style="font-weight: 400;"># of pieces</span></p>
</td>
<td style="width: 375.227px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Description of the goods, marks, exceptions</span></p>
</td>
<td style="width: 167.469px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Weight in LBS.</span></p>
</td>
<td style="width: 54.2734px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Type</span></p>
</td>
<td style="width: 65.8438px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">NMFC</span></p>
</td>
<td style="width: 38.3672px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">HM</span></p>
</td>
<td style="width: 60.5703px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Class</span></p>
</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">&nbsp;</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">&nbsp;</td>
<td style="width: 54.2734px;">&nbsp;</td>
<td style="width: 65.8438px;">&nbsp;</td>
<td style="width: 38.3672px;">&nbsp;</td>
<td style="width: 60.5703px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 117.25px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Total Pieces 0</span></p>
</td>
<td style="width: 375.227px;">&nbsp;</td>
<td style="width: 167.469px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Total Weight 0 LBS.</span></p>
</td>
<td style="width: 237.055px;" colspan="4">
<p style="margin-left:5px;"><span style="font-weight: 400;">Emergency Response Phone</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 162px; border-collapse: collapse;" border="1" width="923">
<tbody>
<tr>
<td style="width: 130.859px;" rowspan="4">
<p style="margin-left:5px;"><span style="font-weight: 400;">Notes:</span></p>
</td>
<td style="width: 776.141px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">C.O.D. Amount: $0.00</span></p>
</td>
</tr>
<tr>
<td style="width: 776.141px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">C.O.D. Fee: Prepaid</span></p>
</td>
</tr>
<tr>
<td style="width: 776.141px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Declared Value: $0.00</span></p>
</td>
</tr>
<tr>
<td style="width: 776.141px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">If at consignor's risk, write or stamp here</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 87px; border-collapse: collapse;" border="1" width="923">
<tbody>
<tr>
<td style="width: 149.969px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Shipper</span></p>
</td>
<td style="width: 135.031px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Carrier</span></p>
</td>
<td style="width: 98.9219px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Date</span></p>
</td>
<td style="width: 511.078px;" rowspan="2">
<p style="margin-left:5px;"><span style="font-weight: 400;">Number Of Pieces Received</span></p>
</td>
</tr>
<tr>
<td style="width: 149.969px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Per</span></p>
</td>
<td style="width: 135.031px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Per</span></p>
</td>
<td style="width: 98.9219px;">
<p style="margin-left:5px;"><span style="font-weight: 400;">Time</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="height: 70px; border-collapse: collapse;" border="1" width="923">
<tbody>
<tr>
<td>
<p style="margin-left:5px;"><span style="font-weight: 400;">Consignee Name</span></p>
</td>
<td>
<p style="margin-left:5px;"><span style="font-weight: 400;">Date</span></p>
</td>
<td>
<p style="margin-left:5px;"><span style="font-weight: 400;">Signature</span></p>
</td>
<td>
<p style="margin-left:5px;"><span style="font-weight: 400;">Number Of Pieces Received</span></p>
</td>
</tr>
</tbody>
</table>
<p style="text-align: center;"><br /><br /></p>
