<div
  style="padding-left: 50px; padding-right: 50px; font-size: 10px; font-family: 'Verdana', serif;"
>
    {{!-- Title --}}
  <p style="text-align: center;font-weight: 400; font-size: 18px;">Invoice</p>
  <table style="float: right; border-collapse: collapse;" border="1">
    <tbody>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;"><strong>INVOICE #</strong></p>
        </td>
        {{!-- Invoice# Value--}}
        <td style="width: 163.297px;">
          <p style="margin-left: 5px;"><strong>361</strong></p>
        </td>
      </tr>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;font-weight: 400;">Invoice Date:</p>
        </td>
        {{!-- Invoice date Value--}}
        <td style="width: 163.297px;">
          <p style="margin-left: 5px;font-weight: 400;">2023-09-07</p>
        </td>
      </tr>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;font-weight: 400;">Terms:</p>
        </td>
        {{!-- Terms Value--}}
        <td style="width: 163.297px;">
            <p style="margin-left: 5px;font-weight: 400;">NA</p>
        </td>
      </tr>
      <tr>
        <td style="width: 106.703px; background-color: #f3f3f3;">
          <p style="margin-left: 5px;font-weight: 400;">W/O(Ref):</p>
        </td>
        <td style="width: 163.297px;">
          <p style="margin-left: 5px;font-weight: 400;">0001497</p>
        </td>
      </tr>
    </tbody>
  </table>
  <h3><strong>PAYABLE TO:</strong></h3>
  <p><strong>SPLS LLC</strong></p>
  <p><span style="font-weight: 400;">13100 Wortham Center Dr Houston, TX, USA
      77065 Phone: 832-906-0217</span></p>
  <p><span style="font-weight: 400;">Fax:</span></p>
  <p style="text-align: center;"><br /><br /></p>
  <h3><strong>BILL TO:</strong></h3>
  <p><span style="font-weight: 400;">Adams Warehouse &amp; Delivery</span></p>
  <p><span style="font-weight: 400;">200 Portwall St. Houston, Tx 77029 Houston,
      TX, USA 77029</span></p>
  <p style="text-align: left;"><br /></p>
  <table style="height: 28px; background-color: #f3f3f3;" border="1">
    <tbody>
      <tr>
        <td style="width: 919px; border: none;"><strong>LOAD DETAILS</strong></td>
      </tr>
    </tbody>
  </table>
  <h3>LOAD#: 383</h3>
  {{!-- Table --}}
  <table style="border: none; border-collapse: collapse;">
    <tbody>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Shipper 1:</strong></p>
        </td>
        <td style="width: 404.359px; border: none;">
          <p><span style="font-weight: 400;">Barbours Cut Terminal, La Porte,
              TX, USA</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2">
          <p><strong>Date:</strong>
            <span style="font-weight: 400;">2023-09-05</span></p>
        </td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Type:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">TL</span></p>
        </td>
        <td style="width: 103.531px; border: none;">
          <p><strong>Quantity:</strong></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Weight:</strong></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Description:</strong></p>
        </td>
        <td style="width: 404.359px; border: none;">
          <p><span style="font-weight: 400;">20ft legal weight</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Purchase Order #:</strong></p>
        </td>
        <td style="width: 404.359px; border: none;">
          <p><span style="font-weight: 400;">TRHU2627339</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Consignee 1:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">ADAMS WAREHOUSE 200 PORTWALL,
              Houston, TX, USA</span></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Date:</strong></p>
        </td>
        <td style="width: 110.172px; border: none;">
          <p><span style="font-weight: 400;">2023-09-05</span></p>
        </td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Type:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">TL</span></p>
        </td>
        <td style="width: 103.531px; border: none;">
          <p><strong>Quantity:</strong></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Weight:</strong></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Description:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">20ft legal weight</span></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 82.7578px; border: none;"></td>
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Purchase Order #:</strong></p>
        </td>
        {{!-- Purchase Order value --}}
        <td style="width: 404.359px; border: none;"><p>NA</p></td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Consignee 2:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">Barbours Cut Terminal, La Porte,
              TX, USA</span></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Date:</strong></p>
        </td>
        <td style="width: 110.172px; border: none;">
          <p><span style="font-weight: 400;">2023-09-05</span></p>
        </td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Type:</strong></p>
        </td>
        <td style="width: 513.891px; border: none;" colspan="2">
          <p><span style="font-weight: 400;">Empty</span></p>
        </td>
        <td style="width: 103.531px; border: none;">
          <p><strong>Quantity:</strong></p>
        </td>
        <td style="width: 82.7578px; border: none;">
          <p><strong>Weight:</strong></p>
        </td>
        {{!-- only space not a value --}}
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Description:</strong></p>
        </td>
        {{!-- Description value --}}
        <td style="width: 513.891px; border: none;" colspan="2"><p>NA</p></td>
        {{!-- only space not a value --}}
        <td style="width: 82.7578px; border: none;"></td>
        <td style="width: 110.172px; border: none;"></td>
      </tr>
      <tr>
        <td style="width: 188.18px; border: none;">
          <p><strong>Purchase Order #:</strong></p>
        </td>
        {{!-- Purchase Order value --}}
        <td style="width: 404.359px; border: none;"><p>NA</p></td>
        {{!-- only space not a value --}}
        <td style="width: 103.531px; border: none;"></td>
        <td style="width: 198.93px; border: none;" colspan="2"></td>
      </tr>
    </tbody>
  </table>
  <h3><strong>RATES AND CHARGES</strong></h3>
  <p><span style="font-weight: 400;">Line Haul</span>
    <span style="font-weight: 400; float: right;">$500.00</span></p>
  <hr />
  <p><strong>Total Rate:</strong>
    <strong style="float: right;">$500.00 USD</strong></p>
</div>