<table style="border-collapse:collapse;margin-left:3pt" cellspacing="0">
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Dispatcher:</p>
            </td>
            <td
                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">SPLS L</p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">LOAD #</p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">367</p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Phone #:</p>
            </td>
            <td
                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">832-906-0217
                </p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Ship Date:
                </p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">2023-08-21
                </p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Fax #:</p>
            </td>
            <td
                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Today&#39;s
                    Date:</p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">2023-08-21
                </p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Email:</p>
            </td>
            <td style="width:238pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                colspan="3">
                <p style="padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;"><a href="mailto:accounts@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;">accounts@spls-us.com</a></p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">W/O:</p>
            </td>
            <td style="width:238pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                colspan="3">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">0001481</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;" />
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Houston, TX, USA 77065</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Phone:832-906-0217</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Fax:</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:5.625pt" cellspacing="0">
        <tr style="height:18pt">
            <td style="width:144pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 2pt;text-indent: 0pt;text-align: center;">Carrier</p>
            </td>
            <td style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 2pt;padding-left: 25pt;text-indent: 0pt;text-align: left;">Phone #</p>
            </td>
            <td style="width:75pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 2pt;padding-left: 25pt;text-indent: 0pt;text-align: left;">Fax #</p>
            </td>
            <td style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 2pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">Equipment
                </p>
            </td>
            <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 2pt;padding-left: 12pt;text-indent: 0pt;text-align: left;">Agreed
                    Amount</p>
            </td>
            <td style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Load Status
                </p>
            </td>
        </tr>
        <tr style="height:26pt">
            <td
                style="width:144pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">SOLUTION
                    TRUCK LLC</p>
            </td>
            <td
                style="width:89pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">407-494-0249
                </p>
            </td>
            <td
                style="width:75pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td
                style="width:63pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">53&#39; Van
                </p>
            </td>
            <td
                style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">$2,800.00
                    USD</p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">Open</p>
            </td>
        </tr>
    </table>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br /></p>
    <p style="text-indent: 0pt;text-align: left;" />
    <h2 style="padding-left: 11pt;text-indent: 0pt;text-align: left;">Shipper 1 Date: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">2023-08-21
        </span>Purchase Order #:</h2>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Arvesta PA</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">555 Country Club Rd Dallas, PA 18612Dallas, PA, 18612</p>
    <h2 style="padding-top: 2pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Time: Major Intersection:</h2>
    <h2 style="padding-top: 2pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Type: Shipping Hours: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">7 AM TO 5 PM</span></h2>
    <h2 style="padding-top: 2pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Quantity: Appointment: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">No</span></h2>
    <h2 style="padding-top: 2pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">Weight: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">15000 lbs </span>Description:</h2>
    <p style="padding-top: 8pt;text-indent: 0pt;text-align: left;"><br /></p>
    <p style="text-indent: 0pt;text-align: left;" />
    <h2 style="padding-left: 11pt;text-indent: 0pt;text-align: left;">Consignee 1 Date: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">2023-08-22
        </span>Purchase Order #:</h2>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">KREBSBROTHERS REST</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">4310 Landers RD</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">North Little Rock, AR,72117</p>
    <h2 style="padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">Time: Major Intersection:</h2>
    <h2 style="padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">Type: Receiving Hours: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">8 AM- 3PM</span></h2>
    <h2 style="padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">Quantity: Appointment: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">No</span></h2>
    <h2 style="padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">Weight: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">15000 lbs </span>Description:</h2>
    <p style="padding-top: 8pt;text-indent: 0pt;text-align: left;"><br /></p>
    <p style="text-indent: 0pt;text-align: left;" />
    <h2 style="padding-left: 11pt;text-indent: 0pt;text-align: left;">Consignee 2 Date: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">2023-08-23</span>Purchase Order #:</h2>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-top: 2pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Hawk Inc</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">301 Hawk Place Montgomery, AL 36117</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 12pt;padding-left: 11pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Montgomery, AL, 36117</p>
    <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Time: Major Intersection:</h2>
    <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Type: Receiving Hours: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">7 AM 2 PM</span></h2>
    <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Quantity: Appointment: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">No</span></h2>
    <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Weight: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">lbs
        </span>Description:</h2>
    <p style="padding-top: 5pt;text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Dispatch Notes:</h2>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:3pt" cellspacing="0">
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Dispatcher:
                </p>
            </td>
            <td
                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">SPLS L</p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">LOAD #</p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">367</p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Phone #:</p>
            </td>
            <td
                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">832-906-0217
                </p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Ship Date:
                </p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">2023-08-21
                </p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Fax #:</p>
            </td>
            <td
                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Today&#39;s
                    Date:</p>
            </td>
            <td
                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">2023-08-21
                </p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Email:</p>
            </td>
            <td style="width:238pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                colspan="3">
                <p style="padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;"><a
                        href="mailto:accounts@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;">accounts@spls-us.com</a></p>
            </td>
        </tr>
        <tr style="height:17pt">
            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                bgcolor="#F9F9F9">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">W/O:</p>
            </td>
            <td style="width:238pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                colspan="3">
                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">0001481</p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;" />
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Houston, TX, USA 77065</p>
    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Phone:832-906-0217</p>
    <p style=" color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Fax:</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: underline;font-size: 10pt;">Double brokering of this load is
        prohibited and will result in NO pay.</p>
    <h4 style="padding-left: 9pt;text-indent: 0pt;text-align: left;"><a href="mailto:shipdirect@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 10pt;" target="_blank">***To expedite payment,please email the signed BOL(s) and/or POD(s) to
        </a>shipdirect@spls-us.com within 48 hours of delivery. If not submitted within timeframe, a $50 late fee may be incurred.***</h4>
    <h4 style="padding-left: 9pt;text-indent: 0pt;text-align: left;">** We offer payments via ACH.**</h4>
    <h4 style="padding-left: 9pt;text-indent: 0pt;text-align: left;"><a href="mailto:shipdirect@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 10pt;" target="_blank">** Quickpay 3% available after delivery within 24-72 hrs. Plase email
        </a>shipdirect@spls-us.com and request the quick pay form for setup.**</h4>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;"><a href="mailto:accounts@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 10pt;"
            target="_blank">EMAIL INVOICE AT: </a>
    <h1 href="mailto:accounts@spls-us.com">accounts@spls-us.com</h1>
    </p>
    <p style="padding-top: 2pt;padding-left: 9pt;text-indent: 0pt;text-align: left;color: black;font-family: Arial, sans-serif;font-style: italic;font-weight: bold;text-decoration: underline;font-size: 9pt;">Billing Email<a
            href="mailto:accounts@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9pt;" target="_blank">: accounts@spls-us.com</a></p>
    <p style="padding-top: 2pt;padding-left: 9pt;text-indent: 0pt;text-align: left;color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9pt;"><u><i><b>Billing
                    Address</b></i></u>: <b>13100 WORTHAM CENTER DR, Ste 314 Houston, TX 77065</b></p>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Dispatch Notes:</p>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">By signing this agreement, CARRIER agrees to the
        following terms and is subject to rate reductions and nonpayment if the following terms are not met:</p>
    <ol id="l1">
        <li data-list-text="1.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;"><a href="mailto:shipdirect@spls-us.com"
                    class="a" target="_blank">All PODs must be submitted to at </a>shipdirect@spls-us.com within 48
                hours of delivery.</p>
        </li>
        <li data-list-text="2.">
            <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;"><a href="mailto:accounts@spls-us.com"
                    class="a" target="_blank">All accessorial charges must be authorized and submitted to
                </a>accounts@spls-us.com within 48 hours of delivery for reimbursement.</p>
        </li>
        <li data-list-text="3.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">Carrier must call and check in at pickup
                and delivery.</p>
        </li>
        <li data-list-text="4.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">Driver must inspect load before departing
                shipper facility.</p>
        </li>
        <li data-list-text="5.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">In and out times must be noted on BOL for
                detention.</p>
        </li>
        <li data-list-text="6.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;"><a href="mailto:accounts@spls-us.com"
                    class="a" target="_blank">Please email NOAs to NOA. </a><a href="mailto:accounts@spls-us.com"
                    target="_blank">accounts@spls-us.com</a></p>
        </li>
        <li data-list-text="7.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">Missed deliveries and appointments may
                result in rate deductions.</p>
        </li>
        <li data-list-text="8.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">All payments are issued via Check or
                ACH-direct deposit.</p>
        </li>
        <li data-list-text="9.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">We do not issue Comcheks, T-Checks, or EFS
                checks for payment.</p>
        </li>
        <li data-list-text="10.">
            <p style="padding-left: 21pt;text-indent: -12pt;text-align: left;">Paperwork Submission and Payment Terms
            </p>
        </li>
    </ol>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;"><a href="mailto:accounts@spls-us.com" class="a"
            target="_blank">Please submit rate con, pod, and invoice to </a>accounts@spls-us.com and include the Load #
        and W/O in the subject line of your e-mail. Standard Pay: Net 30 from receipt of complete and legible paperwork.
    </p>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;"><a href="mailto:accounts@spls-us.com" class="a"
            target="_blank">Quickpay: Submit Quickpay form to </a><a href="mailto:accounts@spls-us.com"
            target="_blank">accounts@spls-us.com</a></p>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">By mail: 13100 Wortham Center DR Suite 314 Houston
        Tx 77065</p>
    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">This Rate Confirmation is an agreement between SPLS,
        LLC and the carrier indicated in the above Carrier Information field, and is NOT a dispatch. If load is changed
        or canceled by SPLS, LLC, NO &quot;truck order not used&quot; will be paid unless the driver has been dispatched
        by the broker at SPLS, LLC. Carriers are required to call SPLS,LLC for dispatch which includes pick up numbers,
        name, address and directions to the shipper.</p>
    <ol id="l2">
        <li data-list-text="1.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">GENERAL CARRIER REQUIREMENTS:</p>
            <ol id="l3">
                <li data-list-text="i.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">CARRIER is responsible for any
                        damage to product or damage to the products container and shortages of freight. CARRIER is
                        responsible for any charges, or claims BROKER is charged pertaining to this shipment.</p>
                </li>
                <li data-list-text="ii.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Driver is responsible for load and
                        count. Must report product quantities stated on BOL&#39;s PRIOR to leaving the shipper. If
                        Driver is not allowed on dock to verify product count, SPLS, must be notified PRIOR to driver
                        signing for product and BOL&#39;s must be marked by Shipper &quot;Shipper Load and Count.&quot;
                    </p>
                </li>
                <li data-list-text="iii.">
                    <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">Failure to report any overage,
                        shortage, or damage (damage with pictures) within 2 hours will result in a $150 fine to CARRIER
                        OR NO PAY for the load.</p>
                </li>
                <li data-list-text="iv.">
                    <p style="padding-left: 18pt;text-indent: -9pt;text-align: left;">Any costs incurred by BROKER due
                        to CARRIER being late for pick-up or delivery appointments may be charged to the CARRIER.</p>
                </li>
                <li data-list-text="v.">
                    <p style="padding-left: 16pt;text-indent: -7pt;text-align: left;">Carrier can be charged up to $250
                        per day for late arrival to any appointment plus any additional loss due late arrival.</p>
                </li>
                <li data-list-text="vi.">
                    <p style="padding-left: 18pt;text-indent: -9pt;text-align: left;">Drivers are required to check call
                        every day, before 10am EST. Failure to do so can result in a $125 fine.</p>
                </li>
                <li data-list-text="vii.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Failure to call IMMEDIATELY on any
                        problems can result in a $100.00 fine to CARRIER as well as any charges that result from failure
                        to notify BROKER. SPLS is available 24/7/365.</p>
                </li>
                <li data-list-text="viii.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">If any accessorial charge is agreed
                        upon, carrier must supply VALID receipt. Failure to do so within 48 hours of delivery can result
                        in no reimbursement. Handwritten receipt is NOT VALID.</p>
                </li>
                <li data-list-text="ix.">
                    <p style="padding-left: 18pt;text-indent: -9pt;text-align: left;">Half Loaded/Incomplete loaded
                        trailer can result in a reduced pro-rated payment.</p>
                </li>
                <li data-list-text="x.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Driver must ensure load is properly
                        secured. Any concerns or requests for additional securements must be made PRIOR to leaving
                        shipper. Carrier will be liable for any damage.</p>
                </li>
                <li data-list-text="xi.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Loads sealed by the shipper must
                        remain sealed until an authorized person at the receiver breaks the seal. In cases where the
                        seal has been broken by an unauthorized person, the CARRIER becomes FULLY liable for the invoice
                        value to customer or cost whichever is greater, of the product and any other expenses.</p>
                </li>
                <li data-list-text="xii.">
                    <p style="padding-left: 20pt;text-indent: -11pt;text-align: left;">$35 will be deducted from your
                        invoice for each comcheck issued for a fuel or cash advance.</p>
                </li>
                <li data-list-text="xiii.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">SPLS,LLC has the right to offset any
                        claim/s or fee with pending invoices including but not limited to, property damage caused by
                        Carrier at shipper or receiver.</p>
                </li>
                <li data-list-text="xiv.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Carrier agrees that the driver has
                        enough available hours of service to pick up and drop the tendered load within time frames
                        arranged by Broker/Customer, without violating the FMCSA hours (49 CFR 395).</p>
                </li>
                <li data-list-text="xv.">
                    <p style="padding-left: 20pt;text-indent: -11pt;text-align: left;">Carrier is in compliance with
                        Federal, State and Local safety regulations.</p>
                </li>
                <li data-list-text="xvi.">
                    <p style="padding-left: 22pt;text-indent: -13pt;text-align: left;">A fee of $7.50 per pallet will be
                        charged on loads that the carrier is responsible to supply pallets for exchange and they do not.
                    </p>
                </li>
                <li data-list-text="xvii.">
                    <p style="padding-left: 23pt;text-indent: -14pt;text-align: left;">All accessorial charges must be
                        pre-approved by the broker. Unauthorized charges may not be paid.</p>
                </li>
                <li data-list-text="xviii.">
                    <p style="padding-left: 25pt;text-indent: -16pt;text-align: left;">Not all detention request will be
                        honored, the Broker must be notified 1 hour before Carrier is requesting detention.</p>
                    <p style="text-indent: 0pt;text-align: left;"><br /></p>
                    <table style="border-collapse:collapse;margin-left:3pt" cellspacing="0">
                        <tr style="height:17pt">
                            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                                    Dispatcher:</p>
                            </td>
                            <td
                                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">SPLS L
                                </p>
                            </td>
                            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: bold;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">LOAD #
                                </p>
                            </td>
                            <td
                                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">367
                                </p>
                            </td>
                        </tr>
                        <tr style="height:17pt">
                            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Phone#:</p>
                            </td>
                            <td
                                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
                                    832-906-0217</p>
                            </td>
                            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Ship
                                    Date:</p>
                            </td>
                            <td
                                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">2023-08-21</p>
                            </td>
                        </tr>
                        <tr style="height:17pt">
                            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Fax #:</p>
                            </td>
                            <td
                                style="width:105pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                                <p style="text-indent: 0pt;text-align: left;"><br /></p>
                            </td>
                            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Today&#39;s Date:</p>
                            </td>
                            <td
                                style="width:67pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">2023-08-21</p>
                            </td>
                        </tr>
                        <tr style="height:17pt">
                            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">Email:
                                </p>
                            </td>
                            <td style="width:238pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                colspan="3">
                                <p style="padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;"><a
                                        href="mailto:accounts@spls-us.com" style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;">accounts@spls-us.com</a></p>
                            </td>
                        </tr>
                        <tr style="height:17pt">
                            <td style="width:59pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                bgcolor="#F9F9F9">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">W/O:
                                </p>
                            </td>
                            <td style="width:238pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DEDEDE;border-left-style:solid;border-left-width:1pt;border-left-color:#DEDEDE;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DEDEDE;border-right-style:solid;border-right-width:1pt;border-right-color:#DEDEDE"
                                colspan="3">
                                <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-top: 1pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">0001481</p>
                            </td>
                        </tr>
                    </table>
                    <p style="text-indent: 0pt;text-align: left;" />
                    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Houston, TX, USA 77065</p>
                    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Phone: 832-906-0217</p>
                    <p style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;padding-left: 5pt;text-indent: 0pt;line-height: 11pt;text-align: left;">Fax:
                    </p>
                    <p style="text-indent: 0pt;text-align: left;"><br /></p>
                </li>
            </ol>
        </li>
        <li data-list-text="2.">
            <p style="padding-left: 17pt;text-indent: -8pt;text-align: left;">REFRIGERATED LOADS:</p>
            <ol id="l4">
                <li data-list-text="i.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">All refrigerated load must be on
                        CONTINUOUS cycle throughout the trip, unless instructed by the Broker. If reefer unit is not on
                        CONTINUOUS, carrier assumes all risk of product.</p>
                </li>
                <li data-list-text="ii.">
                    <p style="padding-left: 16pt;text-indent: -7pt;text-align: left;">Before loading, ensure reefer unit
                        is properly working and pre-cool trailer to temperature indicated by Rate Con. or Broker.</p>
                </li>
                <li data-list-text="iii.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Produce loads must have a properly
                        working air chute for proper circulation. The driver is responsible to make sure the chute is
                        not damaged, obstructed or blocked in any way. Driver is responsible to make sure space is
                        provided for circulation.</p>
                </li>
                <li data-list-text="iv.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">Pulp product to ensure product has
                        been pre-cooled. Do not accept any product pulping 3 or more degrees above or below the required
                        temperature stated on rate confirmation. If the temperature on rate confirmation is different
                        than what is on Bill of Lading, notify BROKER immediately before signing the Bill of Lading. By
                        signing the Bill of Lading, CARRIER is responsible for product. Make sure the pulp temperature
                        of the product loaded is marked on the original Bill of Lading and that the driver agrees</p>
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">with that temperature.</p>
                </li>
                <li data-list-text="v.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">When driver signs the Bill of
                        Lading, he/she is confirming that he/she received the correct product and correct count at the
                        proper temperature. Be sure they agree with the information on the Bill of Lading. Your company
                        is responsible.</p>
                </li>
                <li data-list-text="vi.">
                    <p style="padding-left: 9pt;text-indent: 0pt;text-align: left;">CARRIER certifies that any TRU
                        equipment hired or furnished will be in compliance with the in-user requirements of
                        California&#39;s TRU regulations. Please sign and fax or email ALL pages of the rate
                        confirmation.</p>
                </li>
            </ol>
        </li>
    </ol>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Carrier Pay: <span style="color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 15pt;">Line Haul: $2800.00,
        </span>TOTAL: $2800.00 USD</h2>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-bottom: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Accepted By: <span style="color: black;font-family: "Times New Roman", serif;font-style: normal;font-weight: normal;text-decoration: underline;font-size: 9.5pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="color: black;font-family: "Times New Roman", serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;"> </span>Date: <span style="color: black;font-family: "Times New Roman", serif;font-style: normal;font-weight: normal;text-decoration: underline;font-size: 9.5pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="color: black;font-family: "Times New Roman", serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 9.5pt;"> </span>Signature:</h2>
    <p style="padding-left: 406pt;text-indent: 0pt;line-height: 1pt;text-align: left;" />
    <p style="padding-top: 2pt;text-indent: 0pt;text-align: left;"><br /></p>
    <h2 style="padding-bottom: 1pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Driver Name: Cell #: Truck #:
        Trailer #:</h2>
    <p style="padding-left: 69pt;text-indent: 0pt;line-height: 1pt;text-align: left;color: black;font-family: Arial, sans-serif;font-style: normal;font-weight: normal;text-decoration: none;font-size: 1pt;"> </p>