<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        /* General reset */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            font-size: 12px;
            width: 100%;
        }
        .container {
              padding: 3.5mm;
          }
    </style>
</head>

<body>
    <div class="container">{{{body}}}</div>
</body>

</html>